<!--wrapper-->
<div class="wrapper">
  <!--sidebar wrapper -->
  <app-sidebar></app-sidebar>
  <!--end sidebar wrapper -->

  <!--start header -->
  <app-header></app-header>
  <!--end header -->

  <!--start page wrapper -->
  <div class="page-wrapper">
    <div class="page-content">
      <!--breadcrumb-->
      <!-- <app-breadcrumb></app-breadcrumb> -->
      <!--end breadcrumb-->

      <!--start row-->
      <router-outlet></router-outlet>
      <!--end row-->
    </div>
  </div>
  <!--end page wrapper -->

  <!-- <app-footer></app-footer> -->
</div>
<!--end wrapper-->
