<!-- Header start -->
<div class="header">
  <div class="container">
    <app-header></app-header>
    <!-- row end -->
  </div>
  <!-- Header container end -->
</div>
<!-- Header end -->

<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>
<!-- Page Title End -->

<div class="error-page-wrap">
  <div class="container">
    <div class="errormain">
      <h2>404</h2>
      <h3>Page was not Found</h3>
      <div class="error-msg">
        <p>
          The page you are looking is not available or has been removed. Try
          going to Home Page by using the button below.
        </p>
        <a routerLink="/" class="btn">Go to Home Page</a>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<div class="footerWrap">
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
<!--Footer end-->

<!--Copyright-->
<div class="copyright">
  <div class="container">
    <app-copyright></app-copyright>
  </div>
</div>
