<!-- Header start -->
<div class="header">
  <div class="container">
    <app-header></app-header>
    <!-- row end -->
  </div>
  <!-- Header container end -->
</div>
<!-- Header end -->

<!-- Search start -->
<app-search></app-search>
<!-- Search End -->

<!-- Top Employers start -->
<app-top-employers></app-top-employers>
<!-- Top Employers ends -->

<!-- Popular Searches start -->
<!-- <app-popular-search></app-popular-search> -->
<!-- Popular Searches ends -->

<!-- Featured Jobs start -->
<div class="section greybg">
  <div class="container">
    <app-feature-jobs></app-feature-jobs>
  </div>
</div>
<!-- Featured Jobs ends -->

<!-- Video start -->
<!-- Video end -->

<!-- Latest Jobs start -->
<!-- Latest Jobs ends -->

<!-- Testimonials start -->
<!-- <div class="section">
  <div class="container">
    <app-home-success-stories></app-home-success-stories>
  </div>
</div> -->
<!-- Testimonials End -->

<!-- App Start -->
<div class="appwraper">
  <div class="container">
    <div class="row">
      <app-home-mobile-app></app-home-mobile-app>
    </div>
  </div>
</div>
<!-- App End -->

<!--Footer-->
<div class="footerWrap">
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
<!--Footer end-->

<!--Copyright-->
<div class="copyright">
  <div class="container">
    <app-copyright></app-copyright>
  </div>
</div>
