<!-- title start -->
<div class="titleTop">
  <div class="subtitle">Here You Can See</div>
  <h3>Success <span>Stories</span></h3>
</div>
<!-- title end -->

<ul class="testimonialsList">
  <!--user 1 Start-->
  <li class="item">
    <div class="testimg">
      <img src="assets/frontend/images/userimg.jpg" alt="Your alt text here" />
    </div>
    <div class="clientname">Garry Miller Jr</div>
    <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      viverra id nunc at finibus. Etiam sollicitudin faucibus cursus. Proin
      luctus cursus nulla sed iaculis. Quisque vestibulum augue nec aliquet
      aliquet."
    </p>
    <div class="clientinfo">CEO - Gates Inc</div>
  </li>
  <!--user 1 end-->

  <!--user 2 Start-->
  <li class="item">
    <div class="testimg">
      <img src="assets/frontend/images/userimg.jpg" alt="Your alt text here" />
    </div>
    <div class="clientname">Garry Miller Jr</div>
    <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      viverra id nunc at finibus. Etiam sollicitudin faucibus cursus. Proin
      luctus cursus nulla sed iaculis. Quisque vestibulum augue nec aliquet
      aliquet."
    </p>
    <div class="clientinfo">CEO - Gates Inc</div>
  </li>
  <!--user 2 end-->
</ul>
