<div class="section greybg">
    <div class="container">
      <!-- title start -->
      <div class="titleTop">
        <div class="subtitle">Here You Can See</div>
        <h3>Top <span>Employers</span></h3>
      </div>
      <!-- title end -->
  
      <ul class="employerList" style="display: flex; justify-content: center; align-items: center;" >
        <!--employer-->
        <li *ngFor="let jobPost of jobPosts" [routerLink]="['/jobs']"
          data-toggle="tooltip"
          data-placement="top"
          title=""
          nz-popover
          [nzPopoverContent]="jobPost.company.name"
        >
          <a
            ><img [src]="jobPost.company.image ? (storageUrl + jobPost.company.image) : 'assets/frontend/images/employers/emplogo1.jpg'"
             alt="Company Name"
          /></a>
        </li>
      </ul>
    </div>
  </div>