#hide input[type="file"] {
  display: none;
  margin: 10px;
}
#hide input[type="file"] + label {
  display: inline-block;
  margin: 20px;
  padding: 4px 32px;
  background-color: #ffffff;
  border: solid 1px #666f77;
  border-radius: 6px;
  color: #666f77;
}
#hide input[type="file"]:active + label {
  background-image: none;
  background-color: #2d6c7a;
  color: #ffffff;
}
