<div class="col-12">
  <div class="userccount">
    <!-- Change Avatar -->
    <div>
      <h5>Company Information</h5>
      <hr />
      <form nz-form nzLayout="vertical" [formGroup]="companyForm">
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <div nz-row>
              <nz-form-item [nzSpan]="24" nz-col>
                <nz-form-label nzFor="name"
                  >Name<span class="text-danger">(*)</span></nz-form-label
                >
                <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                  <nz-input-group>
                    <input
                      nz-input
                      formControlName="name"
                      type="text"
                      id="name"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row>
              <nz-form-item [nzSpan]="24" nz-col>
                <nz-form-label nzFor="email"
                  >Email<span class="text-danger">(*)</span></nz-form-label
                >
                <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                  <nz-input-group>
                    <input
                      nz-input
                      formControlName="email"
                      type="email"
                      id="email"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row>
              <nz-form-item [nzSpan]="24" nz-col>
                <nz-form-label nzFor="short_name"
                  >Short name<span class="text-danger">(*)</span></nz-form-label
                >
                <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                  <nz-input-group>
                    <input
                      nz-input
                      formControlName="short_name"
                      type="text"
                      id="short_name"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div
            [nzSpan]="7"
            nz-col
            class="d-flex flex-row justify-content-center align-items-center"
          >
            <nz-avatar
              [nzSrc]="
                editedCompany.image
                  ? storageUrl + editedCompany.image
                  : 'assets/frontend/images/candidates/01.jpg'
              "
              [nzSize]="170"
              style="vertical-align: middle"
            ></nz-avatar>
          </div>
          <div
            [nzSpan]="5"
            nz-col
            class="d-flex flex-row justify-content-start align-items-center"
          >
            <nz-upload
              [nzFileType]="'image/png,image/jpeg,image/jpg,image/gif,image/bmp'"
              [nzLimit]="1"
              [nzSize]="1000"
              (nzChange)="handleChange($event)"
              [nzWithCredentials]="true"
              [nzAction]="frontendUrl + editedCompany.id + '/image'"
            >
              <button nz-button>
                <i nz-icon nzType="upload"></i>Select File
              </button>
            </nz-upload>
          </div>
        </div>
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="address"
                >Address<span class="text-danger">(*)</span></nz-form-label
              >
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="address"
                    type="text"
                    id="address"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="province_id"
                >Province<span class="text-danger">(*)</span></nz-form-label
              >
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-select
                  id="province_id"
                  formControlName="province_id"
                  nzPlaceHolder="No Select"
                >
                  <nz-option
                    *ngFor="let province of provinces"
                    [nzValue]="province.id"
                    [nzLabel]="province.name"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="phone_number">Phone number</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="phone_number"
                    type="number"
                    id="phone_number"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="scale">Scale (employee)</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="scale"
                    type="number"
                    id="scale"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="branch">Branch</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="branch"
                    type="text"
                    id="branch"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="map_link">Google Map Link</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="map_link"
                    type="text"
                    id="map_link"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="website">Website Link</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="website"
                    type="text"
                    id="website"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="facebook">Facebook Link</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="facebook"
                    type="text"
                    id="facebook"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="24" nz-col>
            <nz-form-item>
              <nz-form-label nzFor="website">Description</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input has errors">
                <nz-textarea-count [nzMaxCharacterCount]="1000">
                  <textarea
                    rows="5"
                    formControlName="description"
                    nz-input
                  ></textarea>
                </nz-textarea-count>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
