<!-- Header start -->
<div class="header">
  <div class="container">
    <app-header></app-header>
    <!-- row end -->
  </div>
  <!-- Header container end -->
</div>
<!-- Header end -->

<!-- Search start -->
<app-search></app-search>
<!-- Search End -->

<!-- Top Employers start -->
<app-top-employers></app-top-employers>
<!-- Top Employers ends -->

<!-- Popular Searches start -->
<div class="section">
  <div class="container">
    <!-- title start -->
    <div class="titleTop">
      <div class="subtitle">Here You Can See</div>
      <h3>Popular <span>Searches</span></h3>
    </div>
    <!-- title end -->
    <div class="topsearchwrap row">
      <div class="col-md-6">
        <!--Categories start-->
        <h4>Browse By Categories</h4>
        <ul class="row catelist">
          <li class="col-md-6 col-sm-6">
            <a href="#.">Marketing <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Teaching &amp; Education <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Writing <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Telemarketing <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Administration <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Clerical &amp; Front Office <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">SEO <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Engineering <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Software & Web <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Sales & BD <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Customer Service <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Creative Design <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Accounts & Finance <span>(174)</span></a>
          </li>
          <li class="col-md-6 col-sm-6">
            <a href="#.">Web Design <span>(174)</span></a>
          </li>
        </ul>
        <!--Categories end-->
      </div>
      <div class="col-md-6">
        <!--Cities start-->
        <h5>Browse By Cities</h5>
        <ul class="row catelist">
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">New York</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6">
            <a href="#.">Alexander City</a>
          </li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Andalusia</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Anniston</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Athens</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Atmore</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Auburn</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Bessemer</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6">
            <a href="#.">Birmingham</a>
          </li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Chickasaw</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Clanton</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Cullman</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Decatur</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Demopolis</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Dothan</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6">
            <a href="#.">Enterprise</a>
          </li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Eufaula</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Anchorage</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Cordova</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Fairbanks</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Haines</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6">
            <a href="#.">Birmingham</a>
          </li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Chickasaw</a></li>
          <li class="col-md-4 col-sm-4 col-xs-6"><a href="#.">Clanton</a></li>
        </ul>
        <!--Cities end-->
      </div>
    </div>
  </div>
</div>
<!-- Popular Searches ends -->

<!-- Featured Jobs start -->
<div class="section greybg">
  <div class="container">
    <app-feature-jobs></app-feature-jobs>
  </div>
</div>
<!-- Featured Jobs ends -->

<!-- Video start -->
<div class="videowraper section">
  <div class="container">
    <!-- title start -->
    <div class="titleTop">
      <div class="subtitle">Here You Can See</div>
      <h3>Watch Our <span>Video</span></h3>
    </div>
    <!-- title end -->

    <p>
      Artisans posts listings for job seekers in every industry, every level from entry to executive, and every lifestyle (freelance, part-time, internship, full-time). Candidates can search by job title and location, salary range, date posted, and experience level.
    </p>
    <a href="https://www.youtube.com/watch?v=ZVlUwwgOfKw"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
  </div>
</div>
<!-- Video end -->

<!-- Latest Jobs start -->
<div class="section greybg">
  <div class="container">
    <!-- title start -->
    <div class="titleTop">
      <div class="subtitle">Here You Can See</div>
      <h3>Latest <span>Jobs</span></h3>
    </div>
    <!-- title end -->

    <ul class="jobslist row">
      <!--Job 1-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo1.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="fulltime">Full Time</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->

      <!--Job 2-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo11.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="freelance">Free Lancer</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->

      <!--Job 3-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo12.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="partTime">Part Time</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->

      <!--Job 4-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo13.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="freelance">Free Lancer</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->

      <!--Job 5-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo14.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="fulltime">Full Time</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->

      <!--Job 6-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo15.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="fulltime">Full Time</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->

      <!--Job 7-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo16.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="partTime">Part Time</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->

      <!--Job 8-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo2.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="freelance">Free Lancer</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->

      <!--Job 9-->
      <li class="col-md-4 col-sm-6">
        <div class="jobint">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="assets/frontend/images/employers/emplogo3.jpg" alt="Job Name" />
            </div>
            <div class="col-md-9 col-sm-9">
              <h4><a href="#.">Technical Database Engineer</a></h4>
              <div class="company">
                <a href="#.">Datebase Management Company</a>
              </div>
              <div class="jobloc">
                <label class="fulltime">Full Time</label> -
                <span>New York</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--Job end-->
    </ul>
    <!--view button-->
    <div class="viewallbtn"><a href="#.">View All Latest Jobs</a></div>
    <!--view button end-->
  </div>
</div>
<!-- Latest Jobs ends -->

<!-- Testimonials start -->
<!-- <div class="section">
  <div class="container">
    <app-home-success-stories></app-home-success-stories>
  </div>
</div> -->
<!-- Testimonials End -->

<!-- App Start -->
<div class="appwraper">
  <div class="container">
    <div class="row">
      <app-home-mobile-app></app-home-mobile-app>
    </div>
  </div>
</div>
<!-- App End -->

<!--Footer-->
<div class="footerWrap">
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
<!--Footer end-->

<!--Copyright-->
<div class="copyright">
  <div class="container">
    <app-copyright></app-copyright>
  </div>
</div>
