<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="userccount">
      <div class="userbtns">
        <ul class="nav nav-tabs">
          <li class="active">
            <a #candidateTab data-toggle="tab" href="#candidate">Seeker</a>
          </li>
          <li><a #companyTab data-toggle="tab" href="#company">Company</a></li>
        </ul>
      </div>
      <div class="tab-content" [hidden]="isLoading">
        <form
          id="candidate"
          class="formpanel tab-pane fade in active"
          [formGroup]="seekerForm"
          (ngSubmit)="onSubmitSeeker()"
        >
          <h5><i class="glyphicon glyphicon-user"></i> Account</h5>
          <div class="formrow">
            <input
              class="form-control"
              type="text"
              formControlName="name"
              placeholder="Username"
            />
            <div
              class="text-danger"
              *ngIf="
                seekerForm.get('name')?.invalid &&
                (seekerForm.get('name')?.dirty ||
                  seekerForm.get('name')?.touched)
              "
            >
              <div *ngIf="seekerForm.get('name')?.hasError('required')">
                Username is required.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              class="form-control"
              type="email"
              formControlName="email"
              placeholder="Email"
            />
            <div
              class="text-danger"
              *ngIf="
                seekerForm.get('email')?.invalid &&
                (seekerForm.get('email')?.dirty ||
                  seekerForm.get('email')?.touched)
              "
            >
              <div *ngIf="seekerForm.get('email')?.hasError('required')">
                Email is required.
              </div>
              <div *ngIf="seekerForm.get('email')?.hasError('email')">
                Must be an email.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              class="form-control"
              type="password"
              formControlName="password"
              placeholder="Password"
            />
            <div
              class="text-danger"
              *ngIf="
                seekerForm.get('password')?.invalid &&
                (seekerForm.get('password')?.dirty ||
                  seekerForm.get('password')?.touched)
              "
            >
              <div *ngIf="seekerForm.get('password')?.hasError('required')">
                Password is required.
              </div>
              <div *ngIf="seekerForm.get('password')?.hasError('minlength')">
                Password must be longer than 8 characters.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              class="form-control"
              type="password"
              formControlName="password_confirmation"
              placeholder="Confirm Password"
            />
            <div
              class="text-danger"
              *ngIf="
                seekerForm.get('password_confirmation')?.invalid &&
                (seekerForm.get('password_confirmation')?.dirty ||
                  seekerForm.get('password_confirmation')?.touched)
              "
            >
              <div *ngIf="seekerForm?.hasError('mismatchedPasswords')">
                Mismatched passwords.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input type="checkbox" value="agree text" formControlName="agree" />
            I have read & accept
            <span style="font-weight: bold">Artisans</span> Privacy Policy and
            Terms of Use
          </div>
          <button
            class="btn"
            [disabled]="seekerForm.invalid || isLoading"
            type="submit"
          >
            Register
          </button>
        </form>

        <!-- User / Company Form -->
        <form
          id="company"
          class="formpanel tab-pane fade in"
          [formGroup]="companyForm"
          (ngSubmit)="onSubmitCompany()"
        >
          <h5><i class="glyphicon glyphicon-user"></i> Account</h5>
          <div class="formrow">
            <input
              class="form-control"
              type="text"
              placeholder="Username"
              formControlName="name"
            />
            <div
              class="text-danger"
              *ngIf="
                companyForm.get('name')?.invalid &&
                (companyForm.get('name')?.dirty ||
                  companyForm.get('name')?.touched)
              "
            >
              <div *ngIf="companyForm.get('name')?.hasError('required')">
                Username is required.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              class="form-control"
              type="email"
              placeholder="Email"
              formControlName="email"
            />
            <div
              class="text-danger"
              *ngIf="
                companyForm.get('email')?.invalid &&
                (companyForm.get('email')?.dirty ||
                  companyForm.get('email')?.touched)
              "
            >
              <div *ngIf="companyForm.get('email')?.hasError('required')">
                Email is required.
              </div>
              <div *ngIf="companyForm.get('email')?.hasError('email')">
                Must be an email.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              class="form-control"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <div
              class="text-danger"
              *ngIf="
                companyForm.get('password')?.invalid &&
                (companyForm.get('password')?.dirty ||
                  companyForm.get('password')?.touched)
              "
            >
              <div *ngIf="companyForm.get('password')?.hasError('required')">
                Password is required.
              </div>
              <div *ngIf="companyForm.get('password')?.hasError('minlength')">
                Password must be longer than 8 characters.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              class="form-control"
              type="password"
              placeholder="Confirm Password"
              formControlName="password_confirmation"
            />
            <div
              class="text-danger"
              *ngIf="
                companyForm.get('password_confirmation')?.invalid &&
                (companyForm.get('password_confirmation')?.dirty ||
                  companyForm.get('password_confirmation')?.touched)
              "
            >
              <div *ngIf="companyForm?.hasError('mismatchedPasswords')">
                Mismatched passwords.
              </div>
            </div>
          </div>

          <hr />
          <!-- Company Form -->
          <h5><i class="glyphicon glyphicon-briefcase"></i> Company</h5>
          <div class="formrow">
            <input
              class="form-control"
              type="text"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              class="text-danger"
              *ngIf="
                companyForm.get('company_name')?.invalid &&
                (companyForm.get('company_name')?.dirty ||
                  companyForm.get('company_name')?.touched)
              "
            >
              <div
                *ngIf="companyForm.get('company_name')?.hasError('required')"
              >
                Company name is required.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              class="form-control"
              type="text"
              placeholder="Short Name"
              formControlName="short_name"
            />
            <div
              class="text-danger"
              *ngIf="
                companyForm.get('short_name')?.invalid &&
                (companyForm.get('short_name')?.dirty ||
                  companyForm.get('short_name')?.touched)
              "
            >
              <div *ngIf="companyForm.get('short_name')?.hasError('required')">
                Short name is required.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              class="form-control"
              type="text"
              formControlName="address"
              placeholder="Address"
            />
            <div
              class="text-danger"
              *ngIf="
                companyForm.get('address')?.invalid &&
                (companyForm.get('address')?.dirty ||
                  companyForm.get('address')?.touched)
              "
            >
              <div *ngIf="companyForm.get('address')?.hasError('required')">
                Address is required.
              </div>
            </div>
          </div>
          <div class="formrow">
            <select
              class="form-control"
              formControlName="province_id"
              style="padding: 10px 12px"
            >
              <option value disabled selected>Provinces</option>
              <option
                *ngFor="let province of provinces"
                value="{{ province.id }}"
              >
                {{ province.name }}
              </option>
            </select>
            <div
              class="text-danger"
              *ngIf="
                companyForm.get('province_id')?.invalid &&
                (companyForm.get('province_id')?.dirty ||
                  companyForm.get('province_id')?.touched)
              "
            >
              <div *ngIf="companyForm.get('province_id')?.hasError('required')">
                Province is required.
              </div>
            </div>
          </div>
          <div class="formrow">
            <input
              name="cagree"
              type="checkbox"
              value="agree text c"
              formControlName="agree"
            />
            I have read & accept
            <span style="font-weight: bold">Artisans</span> Privacy Policy and
            Terms of Use
          </div>
          <button
            class="btn"
            [disabled]="companyForm.invalid || isLoading"
            type="submit"
          >
            Register
          </button>
        </form>
      </div>

      <ng-template #indicatorTemplate
        ><i nz-icon nzType="loading" style="font-size: 150px"></i
      ></ng-template>
      <nz-spin
        nzSimple
        [nzIndicator]="indicatorTemplate"
        style="text-align: center"
        *ngIf="isLoading"
      ></nz-spin>

      <div class="newuser" *ngIf="!isLoading">
        <i class="fa fa-user" aria-hidden="true"></i> Already a Member?
        <a routerLink="/login">Login Here</a>
      </div>
    </div>
  </div>
</div>
