.job-promoted {
  color: red;
}

.company-sponsored {
  border: 2px solid red;
}

.rainbow-box {
  border: 3px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}

.rainbow-box:hover {
  border: 3px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #fd1892 0%,
    #fec837 25%,
    #b8fd33 50%,
    #2c90fc 75%,
    #b827fc 100%
  );
  border-image-slice: 1;
}
