<!-- Page Title start -->
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="pageSearch">
    <div class="row">
      <div class="col-md-3">
        <a href="#." class="btn"
          ><i class="fa fa-file-text" aria-hidden="true"></i> Upload Your
          Resume</a
        >
      </div>
      <div class="col-md-9">
        <div class="searchform">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <input
                type="text"
                class="form-control"
                placeholder="Job Title"
                formControlName="search"
              />
            </div>
            <div class="col-md-2 col-sm-2">
              <select class="form-control" formControlName="job_type_id">
                <option value="">Type</option>
                <option
                  *ngFor="let jobType of jobTypes"
                  value="{{ jobType.id }}"
                >
                  {{ jobType.name }}
                </option>
              </select>
            </div>
            <div class="col-md-3 col-sm-3">
              <select class="form-control" formControlName="province_id">
                <option value="">Province</option>
                <option
                  *ngFor="let jobProvince of jobProvinces"
                  value="{{ jobProvince.id }}"
                >
                  {{ jobProvince.name }}
                </option>
              </select>
            </div>
            <div class="col-md-3 col-sm-3" *ngIf="userService.isUser()">
              <select class="form-control" formControlName="from_salary">
                <option value="">Min Salary</option>
                <option *ngFor="let jobSa of jobSalary">
                  {{ jobSa.from_salary }}
                </option>
              </select>
            </div>
            <div class="col-md-1 col-sm-2">
              <button class="btn">
                <i
                  class="fa fa-search"
                  aria-hidden="true"
                  value="Search Job"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title end -->

  <!-- Search Result and sidebar start -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="sidebar">
        <div class="widget">
          <h4 class="widget-title">Jobs By Title</h4>
          <ul class="optionlist">
            <li>
              <input
                (change)="onCheckTitleChange($event)"
                id="webdesigner"
                formArrayName="title"
                type="checkbox"
                value="php"
              />
              <label for="webdesigner"></label>
              PHP
            </li>
            <li>
              <input
                (change)="onCheckTitleChange($event)"
                id="3dgraphic"
                formArrayName="title"
                type="checkbox"
                value="java"
              />
              <label for="3dgraphic"></label>
              Java
            </li>
            <li>
              <input
                (change)="onCheckTitleChange($event)"
                id="graphic"
                formArrayName="title"
                type="checkbox"
                value="Business Analyst"
              />
              <label for="graphic"></label>
              Business Analyst
            </li>
            <li>
              <input
                (change)="onCheckTitleChange($event)"
                id="electronicTech"
                formArrayName="title"
                type="checkbox"
                value="Marketing"
              />
              <label for="electronicTech"></label>
              Marketing
            </li>
            <li></li>
          </ul>

        </div>
        <div class="widget">
          <h4 class="widget-title">Jobs By Experience</h4>
          <ul class="optionlist">
            <li *ngFor="let ex of experiences">
              <input
                id="permanent{{ ex.experience }}"
                (change)="onCheckExperienceChange($event)"
                type="checkbox"
                [value]="ex.experience"
              />
              <label for="permanent{{ ex.experience }}"></label>
              {{ ex.experience }} years
            </li>
          </ul>
        </div>
        <div class="widget">
          <h4 class="widget-title">Salary Range</h4>
          <ul class="optionlist">
            <li>
              <input
                type="range"
                [(ngModel)]="rangeSalary"
                (change)="search()"
                formControlName="to_salary"
                min="0"
                step="500"
                max="100000"
              />
              $ {{ rangeSalary | number }}
            </li>
          </ul>
        </div>
        <!-- Salary end -->

        <!-- button -->
        <!-- <div class="searchnt">
        <button class="btn">
          <i class="fa fa-search" aria-hidden="true" value="Search Job"></i> Search Jobs
        </button>
      </div> -->
        <!-- button end-->
      </div>
      <!-- Side Bar end -->
    </div>
    <div class="col-md-3 col-sm-6 pull-right">
      <!-- Social Icons -->
      <div class="sidebar">
        <h4 class="widget-title">Follow Us</h4>
        <div class="social">
          <a href="http://www.twitter.com/" target="_blank"
            ><i class="fa fa-twitter-square" aria-hidden="true"></i
          ></a>
          <a href="http://www.plus.google.com/" target="_blank"
            ><i class="fa fa-google-plus-square" aria-hidden="true"></i
          ></a>
          <a href="http://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i
          ></a>
          <a href="https://www.pinterest.com/" target="_blank"
            ><i class="fa fa-pinterest-square" aria-hidden="true"></i
          ></a>
          <a href="https://www.youtube.com/" target="_blank"
            ><i class="fa fa-youtube-square" aria-hidden="true"></i
          ></a>
          <a href="https://www.linkedin.com/" target="_blank"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
        </div>
        <!-- Social Icons end -->
      </div>

      <!-- Sponsord By -->
      <div class="sidebar">
        <div
          class="widget jobinfo"
          *ngFor="let job of jobSides"
          [routerLink]="['/jobs', job.id]"
        >
          <span nz-typography nzType="secondary">
            <a target="_blank">
              <h4>{{ job.title }}</h4>
              <Link />
            </a>
          </span>
        </div>

        <div
          class="widget"
          *ngFor="let jobside of jobSides"
          [routerLink]="['/jobs', jobside.id]"
        >
          <a
            ><img
              [src]="
                jobside.company.image
                  ? storageUrl + jobside.company.image
                  : 'assets/frontend/images/employers/emplogo1.jpg'
              "
              alt="Company Name"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <ul class="searchList" *ngIf="jobs?.length === 0">
        <li>
          <nz-empty></nz-empty>
        </li>
      </ul>
      <!-- Search List -->
      <ul
        class="searchList"
        *ngFor="
          let job of jobs
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                }
        "
      >
        <!-- job start -->
        <li [ngClass]="{ 'rainbow-box': job.sponsored !== null }">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <div class="jobimg">
                <img
                  [src]="
                    job.company.image
                      ? storageUrl + job.company.image
                      : 'assets/frontend/images/jobs/jobimg.jpg'
                  "
                  alt="Job Name"
                />
              </div>
              <div class="jobinfo">
                <h3>
                  <a
                    [ngClass]="job.promoted_at !== null ? 'job-promoted' : ''"
                    [routerLink]="['/jobs', job.id]"
                    >{{ job.title }}</a
                  >
                </h3>
                <div class="companyName">
                  <a>{{ job.name }}</a>
                </div>
                <div class="location">
                  <label class="fulltime">{{ job.typeOfEmployments }}</label> -
                  <span>{{ job?.location }}</span>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="listbtn">
                <a [routerLink]="['/jobs', job.id]">Apply Now</a>
              </div>
            </div>
          </div>
        </li>
        <!-- job end -->
      </ul>
      <!-- Pagination Start -->
      <div class="pagiWrap">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-right">
            <ul class="pagination">
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </ul>
          </div>
        </div>
      </div>
      <!-- Pagination end -->
    </div>
  </div>
</form>
