<div class="row">
  <!--About Us-->
  <div class="col-md-3 col-sm-12">
    <div class="ft-logo">
      <img src="assets/frontend/images/logo.png" alt="Your alt text here" />
    </div>
    <p>
      Artians Job Portal was founded in 2004 with a simple mission: to help
      people find jobs. It’s now the largest job website in the world, boasting
      250 million monthly users with 10 new job listings added every second.
      Biggest doesn’t always mean best, but we chose Indeed as the best overall
      job website due to its size, the number of industries, lifestyles catered
      to, and its unmatched update frequency.
    </p>

    <!-- Social Icons -->
    <div class="social">
      <a href="http://www.facebook.com/" target="_blank">
        <i class="fa fa-facebook-square" aria-hidden="true"></i
      ></a>
      <a href="http://www.twitter.com/" target="_blank"
        ><i class="fa fa-twitter-square" aria-hidden="true"></i
      ></a>
      <a href="http://www.plus.google.com/" target="_blank"
        ><i class="fa fa-google-plus-square" aria-hidden="true"></i
      ></a>
      <a href="https://www.linkedin.com/" target="_blank"
        ><i class="fa fa-linkedin-square" aria-hidden="true"></i
      ></a>
      <a href="https://www.youtube.com/" target="_blank"
        ><i class="fa fa-youtube-square" aria-hidden="true"></i
      ></a>
    </div>
    <!-- Social Icons end -->
  </div>
  <!--About us End-->

  <!--Quick Links-->
  <div class="col-md-2 col-sm-6">
    <h5>Quick Links</h5>
    <ul class="quicklinks">
      <li>
        <a
          routerLink="/dashboard/seeker"
          [hidden]="!userService.isRole('seeker')"
          >Update CV</a
        >
      </li>
      <li><a routerLink="/jobs">Company Listings</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
      <li>
        <a routerLink="/register" [hidden]="userService.isUser()"
          >Create Account</a
        >
      </li>
      <li>
        <a
          routerLink="/dashboard/company"
          [hidden]="!userService.isRole('company')"
          >My Company</a
        >
      </li>
      <li>
        <a
          routerLink="/dashboard/company/cv"
          [hidden]="!userService.isRole('company')"
          >My CV</a
        >
      </li>
      <li>
        <a
          routerLink="/dashboard/jobs"
          [hidden]="!userService.isRole('company')"
          >My Job Posts</a
        >
      </li>
      <li>
        <a
          routerLink="/dashboard/jobs/create"
          [hidden]="!userService.isRole('company')"
          >Post a Job</a
        >
      </li>
    </ul>
  </div>
  <!--Quick Links menu end-->

  <!--Jobs By Industry-->
  <div class="col-md-3 col-sm-6">
    <h5>Jobs By Industry</h5>
    <!--Industry menu Start-->
    <ul class="quicklinks">
      <li><a href="#.">Information Technology Jobs</a></li>
      <li><a href="#.">Recruitment/Employment Firms Jobs</a></li>
      <li><a href="#.">Education/Training Jobs</a></li>
      <li><a href="#.">Manufacturing Jobs</a></li>
      <li><a href="#.">Call Center Jobs</a></li>
      <li><a href="#.">N.G.O./Social Services Jobs</a></li>
      <li><a href="#.">BPO Jobs</a></li>
      <li><a href="#.">Textiles/Garments Jobs</a></li>
      <li><a href="#.">Telecommunication/ISP Jobs</a></li>
    </ul>
    <!--Industry menu End-->
    <div class="clear"></div>
  </div>

  <!--Latest Articles-->
  <div class="col-md-4 col-sm-12">
    <h5>Latest Articles</h5>
    <ul class="posts-list">
      <!--Article 1-->
      <li>
        <article class="post post-list">
          <div class="entry-content media">
            <div class="media-left">
              <a href="#." title="" class="entry-image">
                <img
                  width="80"
                  height="80"
                  src="assets/frontend/images/news-1.jpg"
                  alt="Your alt text here"
                />
              </a>
            </div>
            <div class="media-body">
              <h4 class="entry-title">
                <a href="#."
                  >How to Work Around the World on a Sailboat or Yacht</a
                >
              </h4>
              <div class="entry-content-inner">
                <div class="entry-meta">
                  <span class="entry-date">Jan 28, 2021</span>
                </div>
              </div>
            </div>
          </div>
        </article>
      </li>
      <!--Article end 1-->

      <!--Article 2-->
      <li>
        <article class="post post-list">
          <div class="entry-content media">
            <div class="media-left">
              <a href="#." title="" class="entry-image">
                <img
                  width="80"
                  height="80"
                  src="assets/frontend/images/news-2.jpg"
                  alt="Your alt text here"
                />
              </a>
            </div>
            <div class="media-body">
              <h4 class="entry-title">
                <a href="#."
                  >The Sports-Related Jobs With The Strongest Growth</a
                >
              </h4>
              <div class="entry-content-inner">
                <div class="entry-meta">
                  <span class="entry-date">Jan 27, 2021</span>
                </div>
              </div>
            </div>
          </div>
        </article>
      </li>
      <!--Article end 2-->

      <!--Article 3-->
      <li>
        <article class="post post-list">
          <div class="entry-content media">
            <div class="media-left">
              <a href="#." title="" class="entry-image">
                <img
                  width="80"
                  height="80"
                  src="assets/frontend/images/news-3.jpg"
                  alt="Your alt text here"
                />
              </a>
            </div>
            <div class="media-body">
              <h4 class="entry-title">
                <a href="#."
                  >The Relationship between Scholarships and Employee Success</a
                >
              </h4>
              <div class="entry-content-inner">
                <div class="entry-meta">
                  <span class="entry-date">Jan 27, 2021</span>
                </div>
              </div>
            </div>
          </div>
        </article>
      </li>
      <!--Article end 3-->
    </ul>
  </div>
</div>
