<!-- Job Header start -->
<div class="job-header">
  <div class="jobinfo">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ jobPost?.title }}</h2>
        <div class="ptext">Date Posted: {{ jobPost?.created_at | date }}</div>
        <div class="salary">Monthly Salary: <strong *ngIf="userService.isUser(); else login">{{ jobPost?.from_salary |
            currency : 'USD'}} - {{ jobPost?.to_salary | currency : 'USD' }}</strong></div>
        <ng-template #login>
          <a routerLink="/login">Login to see salaray</a>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="companyinfo">
          <div class="companylogo">
            <img src="assets/frontend/images/employers/emplogo1.jpg" alt="your alt text" />
          </div>
          <div class="title"><a href="#.">{{ company?.name }}</a></div>
          <div class="ptext">{{ company?.location }}</div>
          <div class="opening"><a href="#.">{{ company?.jobPostAmount }} Current Jobs Openings</a></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="jobButtons" *ngIf="userService.isGuestOrSeeker()">
    <a *ngIf="userService.isRole('seeker'); else guest" class="btn apply" nz-popconfirm
      nzPopconfirmTitle="Are you want to send your Cv?" nzPopconfirmPlacement="bottom" nzOkText="Send" (nzOnConfirm)="confirm()"
     ><i
        class=" fa fa-paper-plane" aria-hidden="true"></i> Apply Now</a>
    <ng-template #guest>
      <a class="btn apply" (click)="toContact()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Apply Now</a>
    </ng-template>
    <a href="#." class="btn"><i class="fa fa-envelope" aria-hidden="true"></i> Email to Friend</a>
    <a href="#." class="btn"><i class="fa fa-black-tie" aria-hidden="true"></i> Job Aleart</a>
    <a href="#." class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save This Job</a>
    <a href="#." class="btn report"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report
      Abuse</a>
  </div>
</div>

<!-- Job Detail start -->
<div class="row">
  <div class="col-md-8">
    <!-- Job Description start -->
    <div class="job-header">
      <div class="contentbox">
        <h3>Job Description</h3>
        <p [innerHTML]="jobPost?.description"></p>
      </div>
    </div>
    <!-- Job Description end -->

    <!-- related jobs start -->
    <div class="relatedJobs">
      <h3>Related Jobs</h3>
      <ul class="searchList" *ngFor="let job of jobTake">
        <!-- Job start -->
        <li>
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <div class="jobimg">
                <img [src]="job.companyImg ?? 'assets/frontend/images/employers/emplogo1.jpg'" alt="Job Name" />
              </div>
              <div class="jobinfo">
                <h3><a [routerLink]="['/jobs', job.id]">{{ job.title }}</a></h3>
                <div class="companyName">
                  <a>{{ job.name }}</a>
                </div>
                <div class="location">
                  <label class="fulltime">{{ job.typeOfEmployments}}</label> -
                  <span>{{ job.location }}</span>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="listbtn"><a [routerLink]="['/jobs', job.id]">Apply Now</a></div>
            </div>
          </div>
        </li>
        <!-- Job end -->

      </ul>
    </div>
  </div>
  <!-- related jobs end -->

  <div class="col-md-4">
    <!-- Job Detail start -->
    <div class="job-header">
      <div class="jobdetail">
        <h3>Job Detail</h3>
        <ul class="jbdetail">
          <li class="row">
            <div class="col-md-6 col-xs-6">Employment Type</div>
            <div class="col-md-6 col-xs-6"><span>{{ jobPost?.typeOfEmployments }}</span></div>
          </li>
          <li class="row">
            <div class="col-md-6 col-xs-6">Positions</div>
            <div class="col-md-6 col-xs-6"><span>{{ jobPost?.employeePositions }}</span></div>
          </li>
          <li class="row">
            <div class="col-md-6 col-xs-6">Employers</div>
            <div class="col-md-6 col-xs-6"><span>{{ jobPost?.employee_quantity }}</span></div>
          </li>
          <li class="row">
            <div class="col-md-6 col-xs-6">Type</div>
            <div class="col-md-6 col-xs-6"><span>{{ jobPost?.jobTypes }}</span></div>
          </li>
          <li class="row">
            <div class="col-md-6 col-xs-6">Experience</div>
            <div class="col-md-6 col-xs-6"><span>{{ jobPost?.experience }} Years</span></div>
          </li>
          <li class="row">
            <div class="col-md-6 col-xs-6">Gender</div>
            <div class="col-md-6 col-xs-6"><span>{{ jobPost?.genders }}</span></div>
          </li>
          <li class="row">
            <div class="col-md-12 col-xs-12">Address</div>
          </li>
          <li class="row">
            <div class="col-md-12 col-xs-12" style="color:chocolate;"><b>{{ jobPost?.address }}</b></div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Contact Company start -->
    <form [formGroup]="createForm" (ngSubmit)="onAddContact()" *ngIf="userService.isGuestOrSeeker()">
      <div class="job-header" id="apply_scroll">
        <div class="jobdetail">
          <h3>Contact</h3>
          <div class="formpanel">
            <div class="formrow">
              <input type="text" class="form-control" placeholder="Your Name" formControlName="name">
            </div>
            <div class="formrow">
              <input type="email" class="form-control" placeholder="Your Email" formControlName="email">
            </div>
            <div class="formrow">
              <input type="number" class="form-control" placeholder="Phone" formControlName="phone">
            </div>
            <div class="formrow">
              <textarea class="form-control" placeholder="Message" formControlName="message"></textarea>
            </div>
            <input type="submit" class="btn" value="Submit">
          </div>
        </div>
      </div>
    </form>
    <!-- Google Map start -->
    <div class="job-header">
      <div class="jobdetail">
        <h3>Google Map</h3>
        <div class="gmap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4962240003656!2d105.79772571430779!3d21.01282189369948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab5f56141f4f%3A0xf7f31741c041d055!2zTmfDtSAxMDAgVHLhuqduIER1eSBIxrBuZywgVHJ1bmcgSG_DoCwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1625494540032!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
