<!-- Page Title start -->
<div class="pageSearch">
  <div class="row">
    <div class="col-md-3">
      <a href="#." class="btn"
        ><i class="fa fa-file-text" aria-hidden="true"></i> Upload Your
        Resume</a
      >
    </div>
    <div class="col-md-9">
      <div class="searchform">
        <div class="row">
          <div class="col-md-4 col-sm-3">
            <input type="text" class="form-control" placeholder="Job Title" />
          </div>
          <div class="col-md-2 col-sm-2">
            <select class="form-control">
              <option>Industry</option>
            </select>
          </div>
          <div class="col-md-2 col-sm-2">
            <select class="form-control">
              <option>City</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-3">
            <select class="form-control">
              <option>Min. Salary</option>
            </select>
          </div>
          <div class="col-md-1 col-sm-2">
            <button class="btn">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Title end -->

<!-- Search Result and sidebar start -->
<div class="row">
  <div class="col-md-3 col-sm-6">
    <!-- Side Bar start -->
    <div class="sidebar">
      <!-- Jobs By Title -->
      <div class="widget">
        <h4 class="widget-title">Jobs By Title</h4>
        <ul class="optionlist">
          <li>
            <input type="checkbox" name="checkname" id="webdesigner" />
            <label for="webdesigner"></label>
            Web Designer <span>12</span>
          </li>
        </ul>
        <!-- title end -->
        <a href="#.">View More</a>
      </div>

      <!-- Jobs By City -->
      <div class="widget">
        <h4 class="widget-title">Jobs By City</h4>
        <ul class="optionlist">
          <li>
            <input type="checkbox" name="checkname" id="newyork" />
            <label for="newyork"></label>
            New York <span>12</span>
          </li>
        </ul>
        <a href="#.">View More</a>
      </div>
      <!-- Jobs By City end-->

      <!-- Jobs By Experience -->
      <div class="widget">
        <h4 class="widget-title">Jobs By Experience</h4>
        <ul class="optionlist">
          <li>
            <input type="checkbox" name="checkname" id="permanent" />
            <label for="permanent"></label>
            Full Time/Permanent <span>12</span>
          </li>
        </ul>
        <a href="#.">View More</a>
      </div>
      <!-- Jobs By Experience end -->

      <!-- Jobs By Industry -->
      <div class="widget">
        <h4 class="widget-title">Jobs By Industry</h4>
        <ul class="optionlist">
          <li>
            <input type="checkbox" name="checkname" id="infotech" />
            <label for="infotech"></label>
            Information Technology <span>22</span>
          </li>
        </ul>
        <a href="#.">View More</a>
      </div>
      <!-- Jobs By Industry end -->

      <!-- Top Companies -->
      <div class="widget">
        <h4 class="widget-title">Top Companies</h4>
        <ul class="optionlist">
          <li>
            <input type="checkbox" name="checkname" id="Envato" />
            <label for="Envato"></label>
            Envato <span>12</span>
          </li>
        </ul>
        <a href="#.">View More</a>
      </div>
      <!-- Top Companies end -->

      <!-- Salary -->
      <div class="widget">
        <h4 class="widget-title">Salary Range</h4>
        <ul class="optionlist">
          <li>
            <input type="checkbox" name="checkname" id="price1" />
            <label for="price1"></label>
            0 to $100 <span>12</span>
          </li>
        </ul>
        <a href="#.">View More</a>
      </div>
      <!-- Salary end -->

      <!-- button -->
      <div class="searchnt">
        <button class="btn">
          <i class="fa fa-search" aria-hidden="true"></i> Search Jobs
        </button>
      </div>
      <!-- button end-->
    </div>
    <!-- Side Bar end -->
  </div>
  <div class="col-md-3 col-sm-6 pull-right">
    <!-- Social Icons -->
    <div class="sidebar">
      <h4 class="widget-title">Follow Us</h4>
      <div class="social">
        <a href="http://www.twitter.com/" target="_blank"
          ><i class="fa fa-twitter-square" aria-hidden="true"></i
        ></a>
        <a href="http://www.plus.google.com/" target="_blank"
          ><i class="fa fa-google-plus-square" aria-hidden="true"></i
        ></a>
        <a href="http://www.facebook.com/" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"></i
        ></a>
        <a href="https://www.pinterest.com/" target="_blank"
          ><i class="fa fa-pinterest-square" aria-hidden="true"></i
        ></a>
        <a href="https://www.youtube.com/" target="_blank"
          ><i class="fa fa-youtube-square" aria-hidden="true"></i
        ></a>
        <a href="https://www.linkedin.com/" target="_blank"
          ><i class="fa fa-linkedin-square" aria-hidden="true"></i
        ></a>
      </div>
      <!-- Social Icons end -->
    </div>

    <!-- Sponsord By -->
    <div class="sidebar">
      <h4 class="widget-title">Sponsord By</h4>
      <div class="gad">
        <img src="assets/frontend/images/googlead.jpg" alt="your alt text" />
      </div>
      <div class="gad">
        <img src="assets/frontend/images/googlead.jpg" alt="your alt text" />
      </div>
      <div class="gad">
        <img src="assets/frontend/images/googlead2.jpg" alt="your alt text" />
      </div>
      <div class="gad">
        <img src="assets/frontend/images/googlead2.jpg" alt="your alt text" />
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <!-- Search List -->
    <ul class="searchList"  *ngFor="let job of jobs" [routerLink]="['/jobs', job.id]" >
      <!-- job start -->
      <li>
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="jobimg">
              <img
                src="assets/frontend/images/jobs/jobimg.jpg"
                alt="Job Name"
              />
            </div>
            <div class="jobinfo">
              <h3><a [routerLink]="['/jobs', job.id]" >{{ job.title }}</a></h3>
              <div class="companyName">
                <a >{{ job.name }}</a>
              </div>
              <div class="location">
                <label class="fulltime">{{ job.typeOfEmployments}}</label> -
                <span>New York</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="listbtn"><a  [routerLink]="['/jobs', job.id]">Apply Now</a></div>
          </div>
        </div>
        <p> {{ job.description | postPipe }} </p>
      </li>
      <!-- job end -->
    </ul>
    <!-- Pagination Start -->
    <div class="pagiWrap">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="showreslt">Showing 1-10</div>
        </div>
        <div class="col-md-8 col-sm-8 text-right">
          <ul class="pagination">
            <li class="active"><a href="#.">1</a></li>
            <li><a href="#.">2</a></li>
            <li><a href="#.">3</a></li>
            <li><a href="#.">4</a></li>
            <li><a href="#.">5</a></li>
            <li><a href="#.">6</a></li>
            <li><a href="#.">7</a></li>
            <li><a href="#.">8</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Pagination end -->
  </div>
</div>
