<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="userccount">
      <div class="formpanel">
        <!-- Job Information -->
        <h5>Job Information</h5>
        <div class="row">
          <div class="col-md-12">
            <div class="formrow">
              <input
                type="text"
                name="jobtitle"
                class="form-control"
                placeholder="Job Title"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="formrow">
              <select class="form-control" name="indus">
                <option>Industry Area</option>
                <option>IT</option>
                <option>Accounts</option>
                <option>Marketing</option>
                <option>Manager</option>
                <option>Banking</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="formrow">
              <select class="form-control" name="msalary">
                <option>Monthly Salary</option>
                <option>$500 - $999</option>
                <option>$999 - $1499</option>
                <option>$1500 - $1999</option>
                <option>$2000 - $3000</option>
                <option>$3000+</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="formrow">
              <select class="form-control" name="location">
                <option>Location</option>
                <option>New York</option>
                <option>Atlanta</option>
                <option>California</option>
                <option>Verginia</option>
                <option>San Joes</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="formrow">
              <select class="form-control" name="empstatus">
                <option>Employment Status</option>
                <option>Permanent</option>
                <option>Contract</option>
                <option>Freelance</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="formrow">
              <select class="form-control" name="emptype">
                <option>Employment Type</option>
                <option>Manager</option>
                <option>Junior Designer</option>
                <option>Senior Developer</option>
                <option>Mid Level Designer</option>
                <option>Frontend Developer</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="formrow">
              <select class="form-control" name="positions">
                <option>Positions</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="formrow">
              <select class="form-control" name="experience">
                <option>Experience</option>
                <option>Fresh</option>
                <option>1 Year</option>
                <option>2 Years</option>
                <option>3 Years</option>
                <option>4 Years</option>
                <option>5 Years</option>
                <option>6 Years</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="formrow">
              <select class="form-control" name="gender">
                <option>Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Any</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="formrow">
              <select class="form-control" name="nationality">
                <option>Nationality</option>
                <option>United States</option>
                <option>Australia</option>
                <option>United Kingdom</option>
              </select>
            </div>
          </div>

          <div class="col-md-12">
            <div class="formrow">
              <ul class="row featchoose">
                <li class="col-md-4">
                  <input type="checkbox" name="" /> Your Info
                </li>
                <li class="col-md-4">
                  <input type="checkbox" name="" /> Your Info
                </li>
                <li class="col-md-4">
                  <input type="checkbox" name="" /> Your Info
                </li>
                <li class="col-md-4">
                  <input type="checkbox" name="" /> Your Info
                </li>
                <li class="col-md-4">
                  <input type="checkbox" name="" /> Your Info
                </li>
                <li class="col-md-4">
                  <input type="checkbox" name="" /> Your Info
                </li>
                <li class="col-md-4">
                  <input type="radio" name="" /> Your radio Label
                </li>
                <li class="col-md-4">
                  <input type="radio" name="" /> Your radio Label
                </li>
                <li class="col-md-4">
                  <input type="radio" name="" /> Your radio Label
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-12">
            <div class="formrow">
              <textarea
                class="form-control"
                name="jobdetail"
                placeholder="Job Detail"
              ></textarea>
            </div>
          </div>
        </div>
        <br />
        <input type="submit" class="btn" value="Post Job" />
      </div>
    </div>
  </div>
</div>
