<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <a href="/"><img src="assets/backend/images/logo-icon.png" class="logo-icon" alt="logo icon" /></a>
    </div>
    <div>
      <a href="/"><h4 class="logo-text">Artisans</h4></a>
    </div>
    <div class="toggle-icon ms-auto"><i class="bx bx-arrow-to-left"></i></div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li class="menu-label">Management</li>
    <li routerLinkActive="mm-active">
      <a routerLink="/backend/companies">
        <div class="parent-icon"><i class="lni lni-apartment"></i></div>
        <div class="menu-title">Companies</div>
      </a>
    </li>
    <li routerLinkActive="mm-active">
      <a routerLink="/backend/jobs">
        <div class="parent-icon"><i class="lni lni-customer"></i></div>
        <div class="menu-title">Jobs</div>
      </a>
    </li>
  </ul>
  <!--end navigation-->
</div>
