<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img
        src="assets/backend/images/logo-icon.png"
        class="logo-icon"
        alt="logo icon"
      />
    </div>
    <div>
      <h4 class="logo-text">Rocker</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class="bx bx-arrow-to-left"></i></div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li class="menu-label">Management</li>
    <li routerLinkActive="mm-active">
      <a routerLink="/backend/companies">
        <div class="parent-icon"><i class="lni lni-apartment"></i></div>
        <div class="menu-title">Companies</div>
      </a>
    </li>
  </ul>
  <!--end navigation-->
</div>
