<div class="col-12">
  <div class="userccount">
    <!-- Change Avatar -->
    <div>
      <h5>Account General Information</h5>
      <hr />
      <div [nzGutter]="24" nz-row nzAlign="middle">
        <div [nzSpan]="6" nz-col>
          <nz-avatar [nzSize]="150" [nzSrc]="
              this.user.avatar ?? 'assets/frontend/images/candidates/01.jpg'
            " nzIcon="user"></nz-avatar>
        </div>
        <div [nzSpan]="6" nz-col>
          <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round">
            <i nz-icon nzType="cloud-download"></i>
          </button>
        </div>
      </div>
      <!-- Account Basic Information Form -->
      <form [formGroup]="generalInfoForm" (ngSubmit)="onSubmitGeneralInfo()" nz-form nzLayout="vertical">
        <hr />
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Username</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="name" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">User role</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="user">
                  <input [value]="this.user.role?.name" type="text" nz-input disabled />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Email</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="mail">
                  <input type="email" nz-input formControlName="email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Email verified</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="mail">
                  <input [value]="
                      (this.user.email_verified_at | timeago:false) ??
                      'Please verify your email'
                    " type="text" nz-input disabled />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Created</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="calendar">
                  <input [value]="this.user.created_at | timeago:false" type="email" nz-input disabled />
                </nz-input-group>

              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Updated</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="calendar">
                  <input [value]="this.user.updated_at | timeago:false" type="text" nz-input disabled />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-form-item style="text-align: right">
          <nz-form-control>
            <button [disabled]="
                generalInfoForm.invalid || isLoading || !generalInfoForm.dirty
              " type="submit" nz-button nzType="primary">
              Update and Save
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>

      <!-- Change Password Form -->
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPassword()" nz-form nzLayout="vertical">
        <h5>Change Password</h5>
        <hr />
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Current password</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="current_password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="24" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">New password</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">New password confirmation</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password_confirmation" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-form-item style="text-align: right">
          <nz-form-control>
            <button [disabled]="
                changePasswordForm.invalid ||
                isLoading ||
                !changePasswordForm.dirty
              " type="submit" nz-button nzType="primary">
              Update and Save
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
