<div class="col-md-5 col-sm-6">
  <!--app image Start-->
  <div class="appimg">
    <img src="assets/frontend/images/app-mobile.png" alt="Your alt text here" />
  </div>
  <!--app image end-->
</div>
<div class="col-md-7 col-sm-6">
  <!--app info Start-->
  <div class="titleTop">
    <div class="subtitle">Step Forword Now</div>
    <h3>The Artisans Job Search App</h3>
  </div>
  <div class="subtitle2">A world of oppertunity in your hand</div>
  <p>
    Find jobs using Artisans app, the most comprehensive search engine for jobs. In a
    single search, Artisans offers free access to millions of jobs from thousands
    of company websites and job boards. From search to apply, Artisans’s Job
    Search app helps you through the entire process of finding a new job.
  </p>
  <div class="appbtn">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="https://apps.apple.com/us/app/indeed-job-search/id309735670"
          ><img
            src="assets/frontend/images/apple-btn.png"
            alt="Your alt text here"
        /></a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a
          href="https://play.google.com/store/apps/details?id=com.indeed.android.jobsearch&hl=en&gl=US"
          ><img
            src="assets/frontend/images/andriod-btn.png"
            alt="Your alt text here"
        /></a>
      </div>
    </div>
  </div>
  <!--app info end-->
</div>
