<!-- Header start -->
<div class="header">
  <div class="container">
    <app-header></app-header>
    <!-- row end -->
  </div>
  <!-- Header container end -->
</div>
<!-- Header end -->

<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>
<!-- Page Title End -->

<!--Footer start-->
<div class="listpgWraper">
  <div class="container">
    <div class="row">
      <app-profile-sidebar></app-profile-sidebar>

      <div class="col-md-9 col-sm-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<div class="footerWrap">
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
<!--Footer end-->

<!--Copyright-->
<div class="copyright">
  <div class="container">
    <app-copyright></app-copyright>
  </div>
</div>
